SUPABASE_URL=
SUPABASE_KEY=

# Translation provider: google | chimege
TRANSLATION_PROVIDER=google
GOOGLE_TRANSLATE_API_KEY=

CHIMEGE_TRANSLATE_API_KEY=
CHIMEGE_TRANSLATE_URL=https://api.chimege.com/v1.0/translate

# TTS provider: azure | chimege
TTS_PROVIDER=azure
AZURE_SPEECH_KEY=your_azure_speech_key
AZURE_SPEECH_REGION=southeastasia

CHIMEGE_TTS_API_KEY=
CHIMEGE_TTS_URL=https://api.chimege.com/v1.0/synthesize

# Storage
AUDIO_DIR=audio
CACHE_DIR=cache
